* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./images/bg-01.jpg');
    background-position: center;
    background-size: cover;
}

.background {
    width: 100%;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.873);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area {
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    max-width: 360px;
    margin: auto;
    background-color: grey;
    padding: 55px 55px 40px 55px;
    border-radius: 10px;
}

.logo {
    margin: auto;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
}

.form-area--titulo {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    padding: 30px 0 35px;
}


input[type=text], input[type=password] {
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0 5px 0 38px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
    cursor: pointer;
}

input::placeholder {
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

label {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin-bottom: 35px;
}

button {
    display: block;
    margin: auto;
    width: 110px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #621583;
    cursor: pointer;
}

button:hover {
    color: white;
    background: -webkit-linear-gradient(top, #b224ef, #7579ff);
}

.form-area a {
    color: white;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 90px;
}

@media (max-width:425px) {
    .form-area {
        padding: 40px 15px 40px;
        margin-left: 15px;
        margin-right: 15px;
    }

    input[type=text], input[type=password] {
        padding: 0 5px 0 10px;
    }
}